<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Editar Empleado</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Lista de Empleado</h1>
  <hr>
  <h2>Editar Empleado</h2>

  <form action="#" th:action="@{/guardarEmpleado}" th:object="${empleado}" method="post">

    <input type="hidden" th:field="*{idEmpleado}"/>

    <input type="text" th:field="*{perfilEmpleado}" class="form-control mb-4 col-4">
    <input type="text" th:field="*{correoEmpleado}" class="form-control mb-4 col-4">
    <input type="text" th:field="*{empresaEmpleado}" class="form-control mb-4 col-4">
    <input type="text" th:field="*{rolEmpleado}" class="form-control mb-4 col-4">
    <button type="submit" class="btn btn-info col-2">Actualizar Empleado</button>
  </form>
  <hr>
  <a th:href="@{/empleado}">Regresar</a>
</div>
</body>
</html>